
/* !ABS */
.abs {
    margin: 100px;
}

.abs__parent {
    position: relative;
    z-index: 1;
    /* display: flex;  
    justify-content: center;
    align-items: center; */
}

.abs__parent-black {
    width: 300px;
    height: 300px;
    background-color: #000;

    position: relative;
    z-index: 3;
}

.abs__parent-child {
    width: 100px;
    height: 100px;
    background-color: red;

    position: absolute;
    top: -50px;
    left: -50px;
    z-index: 2;
}

/* !TRF */
.trf {
    margin: 100px;
}

.trf__parent {
    /* display: flex;  
    justify-content: center;
    align-items: center; */
}

.trf__parent-blue {
    width: 300px;
    height: 300px;
    background-color: #000;
}

.trf__parent-child {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 0.6s;

    /* transform: translateY(50px); */
    /* transform: rotate(45deg); */
}

.trf__parent-child:hover {
    transition: 0.5s;
    transform: scale(1.5) rotate(45deg);
}

/*! EXP */
.exp {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-rows: minmax(100px, 150px); */
    gap: 10px;
    margin-bottom: 30px;
}

.exp div {
    background-color: #0cb7f5;
}

.exp__sqr {
    height: 100%;
    width: 100%;
    background-color: red !important;
}

.exp :nth-child(5) {
    /* grid-column: 5 / 7;
    grid-row: 1 / 3; */
    grid-area: 1 / 5 / 3 / 7;
}

.exp :nth-child(10) {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
}

.exp :nth-child(16) {
    grid-column: 4 / 6;
    grid-row: 4 / 6;
}

/*! Form  */
form > div {
    margin-bottom: 20px;
}
