/* ! BURGER  */
.burger {
    width: 38px;
    height: 28px;
    position: relative;
}
.burger > span {
    display: block;
    width: 100%;
    height: 6px;
    border-radius: 12px;
    position: absolute;
    transition: 0.3s;
}
.burger :first-child {
    top: 0;
    left: 0;
    background-color: $primary-color;
}

.burger :nth-child(2) {
    top: calc(50% - (6px / 2));
    left: 0;
    background-color: $secondary-color;
}

.burger :last-child {
    bottom: 0;
    left: 0;
    background-color: $primary-color;
}
/* active */
.burger.active > span {
    transition: 0.3s;
}

.burger.active :first-child {
    transform: rotate(-45deg);
    top: calc(50% - 6px);
}

.burger.active :nth-child(2) {
    display: none;
}

.burger.active :last-child {
    bottom: 50%;
    transform: rotate(45deg);
}

/* !RESPONSIVE BURGER */
@media screen and (min-width: 1140px) {
    .burger {
        display: none;
    }
}